*{
    margin: 0;
    padding: 0;
}

/* ----------navbar------------- */

.navbar{
    display: flex  ;
    padding: 10px;
    justify-content: space-evenly;
    background-color: black  ;
}
.navbar button{
   position: relative;
   
}
.navbar img{
    position: relative;
    top: 10px;
    width: 80px;
    
}



.line{
    display: flex;
    position: relative;
     left: -80px;
    top: 10px;
    width: 3px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    align-content: flex-start;
    
}


.list{
   
    display: flex;
    list-style: none;
    position: relative;
    left: -180px;

    gap: 20px;
    
}

.list-item{
    padding: 10px ;
    color: white;
}
.list-item:hover{
    color: beige;
    cursor: pointer;
    
}

.button-small{
    background-color: #ce20b4;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;;

}

.button-small:hover{
    background-color: rgb(163, 101, 161);
    cursor: pointer;
    
}


/* hero section  */

.hero{
    text-align: center;
    padding: 150px;
    color: aliceblue;

}

.hero h1{
    position: relative;
    top:-80px;
    font-size: 90px;
    font-weight: 300;
    line-height: 70px;
    
}

.hero p{
    position: relative;
    top: -60px;
    font-size:20px;
    font-weight: 700;
}
.hero button{
    position: relative;
    top: -50px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ce20b4;
    color: aliceblue;
}
.hero button:hover{
    background-color: rgb(163, 101, 161);
    cursor: pointer;
    
}

.bg-img{
  position: absolute;
  height: 90vh;
  width: 100vw;
}


/* ---------media query ------------ */
@media only screen and (max-width: 600px) {

    .navbar{
        display: none  ;
       
    }
    .hero{
        text-align: center;
        padding: 150px;
        color: aliceblue;
    
    }
    
    .hero h1{
        position: relative;
        top:-80px;
        font-size: 40px;
        font-weight: 900;
        line-height: 50px;
        flex-wrap: wrap;
        display: flex;
        left: -70%;
        
    }
    
    .hero p{
        position: relative;
        top: -60px;
        font-size:5px;
        font-weight: 700;
    }
    .button-large{
        font-size: 5px;
        padding: 5px !important;
    }
  }