.navbar{
    display: flex  ;
    padding: 10px;
    justify-content: space-evenly;
    background-color: black  ;
}
.navbar button{
   position: relative;
   top: 30px;
}
.navbar img{
    position: relative;
    top: 20px;
    
}



.line{
    display: flex;
    position: relative;
    left: -60px;
    top: 30px;
    width: 3px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    align-content: flex-start;
    
}


.list{
   
    display: flex;
    list-style: none;
    position: relative;
    left: -180px;
    
    
}

.list-item{
    padding: 20px ;
    color: white;
}

.button-small{
    background-color: #8D3DAF;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;;

}


/* hero section  */

.hero{
    text-align: center;
    padding: 150px;
    color: aliceblue;
}

.hero h1{
    position: relative;
    top: -160px;
    font-size: 100px;
}

.hero p{
    position: relative;
    top: -220px;
    font-size: 20px;
    font-weight: 700;
}
.hero button{
    position: relative;
    top: -200px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #8D3DAF;
    color: aliceblue;
}

.container{
    background-image: url(./assets/bg.png);
    background-size: 100% 100% ;
    
}