*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}

.container{
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 10px 0px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 60px;
    
}
nav li{
    margin-top: 2%;
}
.logo{
    height: 50%;
    margin-top: 5px;
}

.start-trials{
    padding: 2%;
    width: 150px;
    border-radius: 50px;
    border: 2px solid rgb(127, 44, 204) ;
    background-color: white;
    color: rgb(127, 44, 204) ;
    font-size: medium;
    
}
.start-trial{
    border-radius: 50px ;
     /* border: 1px solid rgb(127, 44, 204); */
     background-color: rgb(127, 44, 204);
     padding: 2%;
     /* width: 150px; */
     /* background-color: #fff; */
     border: none; 
     width: 300px;
     height: 40px;
     border-radius: 0%;
     margin: 15px 0;
     /* background-color: #4285f4; */
     color: #fff;
     transition: 0.3s;   
     border-radius: 5px;
}
.section1{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex: wrap;
    padding: 5% 0;

}

/* -------------------trying for linear gradient -------------------- */
.section1::before{
    content: '';
    position: absolute;
    background:linear-gradient(to bottom,#fff, #e4f2ff);
    


    clip-path: polygon(110% -1190%,100% 80%, -10% 97%);
    height: 95%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
} 
.left-content{
    margin-top: 7%;
}
.left-content h1{
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0;
}
.left-content p{
    line-height: 25px;
    margin: 20px 0;
    color: #828181;
}

.released{
    background-color: #f7f1ff;
    width: 250px;
    padding: 3%;
    border-radius: 20px;
    font-size: 0.9rem;
}
.released span{
    color: #69318e;
    font-weight: 500;
    position: relative;
    top: -3px;
    left: 8px;
   
}
.released a{
    margin-left:5px ;
    transition: 0.3s;
}
.released a:hover{
    color: #ab73ab; ;
}
.released img{
    margin-top: 4px;
}
.left-btn{
    border-radius: 50px;
    border: 1px solid rgb(127, 44, 204) ;
    color: rgb(127, 44, 204);
    padding: 15px 30px;
    text-decoration: solid;
    background-color: white;
}
.left-btn-btn{
    background-color:rgb(127, 44, 204) ;
    color: white;
    margin-right: 20px;
}
.learn-btn:hover{
   border: 2px solid #b381d3;
   transform: translate(0,3px);
   
   
}

/* ----------------section-2------------------- */
.section2{
    text-align: center;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
}
.info{
    background-color: #f7f1ff;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 550px;
    border-radius:20px ;
    color: #a06bc2;

}
.section2 h1{
    font-size: 35px;
    margin: 20px 0;
}
.section2 #para{
    text-align: center;
    font-size: 17px;
    color: #676767;
}
.insight_three_column{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 35px 0;
}

.insight_three_column>section >h4{
    margin: 6px 0;
}
.insight_three_column>section >p{
    color: #676767;
    font-size: 17px;
    text-align: center;
    margin: 20px 0;

}

/* ---------------section3----------------- */
.section3{
    display: flex;
    justify-content: center;
    gap: 120px;
   padding-bottom: 30px;

}
.right-section3{
    position: relative;
    margin-top: 7%;
    
}
.team{
    width: 230px;
    
}
.team-back{
    background-color: #f7f1ff;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    color: #a06bc2;
}
.team>span{
    font-weight: 600;
    color: #a06bc2;
}
.right-section3>p{
    color: #8c8b8b;
}
.right-section3>h1{
    font-size: 30px;
    margin: 20px 0;
}

/* ----------------------section-4----------------------- */
.section4{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    
}
.left-section4{
    position: relative;
    margin-top: 7%;
   
    
    
}
.left-section4>p{
    color: #8c8b8b;
}
.left-section4>h1{
    font-size: 30px;
    margin: 20px 0;
}


/* ---------------------section-5--------------------------- */
.section5{
    text-align: center;
    padding: 5% 0;;

}
.hr-line{
    border-bottom: 3px solid #cfc6e7;
    width: 70%;
    margin-top: 3%;
    margin-left: 15%;
    
}

.profile{
    clip-path: polygon(0% 18%, 100% 0%, 100% 82%, 0% 100%);
    background: linear-gradient(to top, #e5ebf5, #f4ecf9);
    height: 600px;
    
}
.profile p{
    color: black;
    position: relative;
    top: 140px;
    font-size: x-large;
}
.profile-name{
    position: relative;
    top: 180px;
}
/* ---------------------section-6--------------------------- */
.section6{
    margin-top: 30px;
    

}
.section6 ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.section7{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin:50px 0px;
    padding: 3%;

}
.trust-lines{
    display: flex;
    margin: 40px 0;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 18px;
}
.trust-lines p{
    color: #838383;
    margin: 0px 20px ;
}
.first-hr, .second-hr{
    border-bottom: 2px solid #a4a3a3;
    width: 30%;
}
/* .start-trial{
    width: 300px;
    height: 40px;
    border-radius: 0%;
    margin: 15px 0;
    background-color: #4285f4;
    color: #fff;
    transition: 0.3s;
} */
.left-section7{
    padding: 10px 30px 10px 30px;
}

.left-section7 h1{
    font-size: xx-large;
}
.left-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 60px;
    column-gap: 40px;
}
.right-side-form-back{
    background-color: #f7eefd;
    height: 450px;
    padding: 0px 30px;
    
    
}
.form-section7{
    text-align: center;
    padding: 20px 30px 30px 30px;
    border-radius: 5px;
    height: 450px;
    background-color: #ffffff;
    position: relative;
    bottom: 40px;
    box-shadow: 0 0 5px #d3d1d1;
    
}
.user-input{
    display: flex;
    flex-direction: column;
}
.user-input input{
    padding: 12px 10px;
    margin-bottom: 10px;
}
.google-sign{
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
}
.sign-in{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 2px;
    background-color: #4285f4;
    color: #fff;
    height: 45px;
    transition: 0.3s;
    /* padding: 10px 12px; */
}
.gmail-icon{
    
    border-radius: 2px;
    height: 45px;
    padding: 0 12px;
    position: relative;
    left: 4px;
    border: 2px solid #4285f4;;
}
.gmail-icon img{
    position: relative;
    top: 6px;
    height: 30px;
}
.horizontal-line{
    border-bottom: 2px solid #cccaca;
    width: 100%;
}
.login{
   margin-top: 15px;
   font-size: 15px;
   display: flex;
   justify-content: center;
   gap: 5px;
}

/* -------------------footer------------------------ */

footer{
    display: flex;
   justify-content: space-evenly;
    margin: 10px 20px;
}
.footer_logo> p{
    flex-wrap: wrap;
    
    width: 200px;
    line-height: 22px;
    margin: 10px 0;
}
.footer_logo ul{
    display: flex;
    
    
}
footer ul{
    list-style: none;
    
    gap: 10px;
}

footer ul li{
    line-height: 30px;
}

.heading_footer{
    font-weight: 600;
}
.footer_links{
    display: flex;
    gap: 50px;
   
    
    
}
.newsletter>h5 {
     font-size: 17px;
    font-weight: 900;
    margin-bottom: 20px;
}
.newsletter section{
    display: flex;
    box-shadow: 0 0 5px #d3d1d1;
    height: 30px;
   
}
.newsletter section>input{
    padding: 5%;
    border: none;
}
.newsletter section>button{
    padding: 2%;
    border: none;
    box-shadow: 0 0 5px #d3d1d1;
}

@media only screen and (max-width: 600px) {
    *{
        width: fit-content;
    }
    nav{
        width: auto;
    }
    nav ul{
        list-style: none;
        display: flex;
        gap: 10px;
        width: auto;
        
    }
    .section1{
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        padding: 5% 0;
        font-size: xx-large;
        text-align: center;

    }
    .left-content h1{
        font-size: revert;
        text-align: center;
    }
    .info{
        background-color: #f7f1ff;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 50px;
    border-radius:20px ;
    color: #a06bc2;
    }

    .section3{
        display: flex;
        justify-content: center;
        gap: 120px;
        padding-bottom: 30px;
        flex-direction: column;
    }
    .section4{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .section4-img{
        max-width: 300px;
    }

    .section3-img{
        max-width: 300px;
    }
    .section7{
        display: flex;
        justify-content: center;
        gap: 100px;
        margin:2rem;
        padding: 3%;
        flex-direction: column;
    
    }
    .start-trial{
        border-radius: 50px ;
     /* border: 1px solid rgb(127, 44, 204); */
     background-color: rgb(127, 44, 204);
     padding: 2%;
     /* width: 150px; */
     /* background-color: #fff; */
     border: none; 
     width: 200px;
     height: 40px;
     border-radius: 0%;
     margin: 15px 0;
     /* background-color: #4285f4; */
     color: #fff;
     transition: 0.3s;   
     border-radius: 5px;
    }
    footer{
        flex-direction: column;
        width: auto;
    text-align: center;
    }
    .footer_logo{
        width: auto;
    text-align: center;
    }
    .footer_logo>p{
        width: auto;
    }
    .footer_links{
        /* flex-direction: column; */
        width: auto;
    }
    
    .newsletter{
        width: auto;
    justify-content: space-around;
    display: flex;
    }
  }