.navbar-container{
     display: flex;
     justify-content: space-evenly;
}

.list-item{
    list-style: none;
    
    
}

.navbar-container .list{
    display: flex;
    gap: 40px;
}

.button-group{
    display: flex;
    gap: 20px;
    }

.search-icon{
    position: relative;
    top: 20px;
}

.nav-button{
    position: relative;
    top: 20px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
    width: 140px;
}

/* navbar ends */

.hero-container{
    display: flex;
    width: 100%;

    
}

.profile-img{
    position: relative;
    top: 90px;
    left: 220px;
}

.square{
   position: relative;
   top: 420px;
   left: -120px;
   z-index: -1;
}

.star{
   position: relative;
   margin-top: auto;
}

.globe{

}

.hero-container-right{
   position: relative;
   top: 100px;
   width: 70%;
  
}
.hero-heading{

    position: relative;
    left: -290px;
    font-size:  70px;
    white-space: nowrap;
}

.hero-description{
    position: relative;
    max-width: 900px;
    left: -300px;
    white-space: wrap;
    text-align: center;
    font-size: 20px;
}

h4.contact-heading{
    
    position: relative;
    top: 260px;
    left: 50px;
}

.icons{
    position: relative;
    margin-top: 40%;
}


.grp-button{
    display: flex;
    gap: 20px;
    position: relative;
    top: 20%;
    
}
.button-email{
    position: relative;
    padding:2% 5%;
    border-radius: 10px;
    left: -90px;
}

.button-join{
    position: relative;
    padding:2% 5%;
    border-radius: 10px;
    left: -90px;
}