*{
    /* overflow: hidden; */
    padding: 0%;
    margin: 0%;
}
.navbar-container{
     display: flex;
     justify-content: space-evenly;
}

.list-item{
    list-style: none;
    font-family: fantasy;
    width: 80px;
    
    
}

.navbar-container .list{
    display: flex;
    gap: 40px;
    margin-top: 3%;
}

.button-group{
    display: flex;
    gap: 20px;
    }

.search-icon{
    position: relative;
    top: 20px;
}

.nav-button{
    position: relative;
    background-color: rgb(249, 249, 249);
    top: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    width: 140px;
}

/* navbar ends */

.hero-container{
    border: 2px solid red;
    display: flex;
    padding: 6%;
    /* width: 100%; */

    
}

.profile-img img{
   
    position: relative;
    width: 25vw;
    /* top: 90px;
    left: 220px; */
}

.content-right{
    border: 2px solid rgb(18, 211, 89);
}


.hero-container-right{
    border: 2px solid rgb(211, 18, 163);
    position: relative;
    /* top: 100px; */
    
}
.hero-container-right p{
    text-align: center;
}
.hero-container-right h1{
    text-align: center;
}

.hero-heading{

    position: relative;
    left: 10px;
    font-size:  70px;
    white-space: nowrap;
    padding-top: 3%;
    padding-bottom: 3%;
}
.hero-description{
    border: 2px solid rgb(18, 182, 211);
    position: relative;
    font-size: 15px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
   
.grp-button{
    border: 2px solid rgb(102, 211, 18);
    display: flex;
    gap: 20px;
    position: relative;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;


    
}

.contact-us h4{
    border: 2px solid rgb(18, 182, 211);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.icons{
    border: 2px solid rgb(2, 61, 71);
    display: flex;
    justify-content: center;
    gap: 20px;
}
 
.icons img{
    width: 30px;
}
.square{
   position: absolute;
   top: 270px;
   left: 140px;
   z-index: -1;
}

.star{
    position: relative;
   left: 150px;
   top: 340px;
   
   
}
.star img{
    width: 40px;
}
.star1{
    position: relative;
    left: 90%;
    top: 20px;
}
.star1 img{
    width: 40px;
}

.globe{
    position: relative;
    left: 25%;
    top: -20px;
}

.globe img{
    width: 40px;
}

.hero-container-right{
    position: relative;
   height: 90%;
   
 }


 .button-email{
    position: relative;
    padding:0% 3%;
    background-color: white;
    border-radius: 5px;
   
}

.button-join{
    position: relative;
    background-color: black;
    
    
    color: white;
    padding:0% 1%;
    border-radius: 5px;
    
} 
/* .star{
   position: relative;
   display: flex;
   top: 70px;
   left: -30px;
   margin-top: auto;
   
}

.star1{
    position: relative;
    left: 25%;
    top: 60px;
}

.globe img{
    position:relative;
    left: -200%;
    top: 5%;
    width: 60px;

}

.hero-container-right{
   position: relative;
   top: 100px;
   width: 70%;
  
}
.hero-heading{

    position: relative;
    left: -290px;
    font-size:  70px;
    white-space: nowrap;
}



h4.contact-heading{
    
    position: relative;
    top: 260px;
    left: 50px;
}

.icons{
    position: relative;
    margin-top: 40%;
}



.button-email{
    position: relative;
    padding:2% 5%;
    background-color: white;
    border-radius: 10px;
    left: -90px;
}

.button-join{
    position: relative;
    background-color: black;
    
    
    color: white;
    padding:2% 5%;
    border-radius: 10px;
    left: -90px;
} */