.container{
    border:5px solid rgb(243, 8, 8);
   
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    margin: 10px;
    color: white;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}
.nav_button{
    display: flex;
    gap: 1rem;
}
.nav_button button{
    height: 60%;
    margin-top: 1rem;
    color: white;
    border: none;
    background-color: black;
}
#sign_up{
    background-color: #FF6666;
}

.hosting1{
    border:2px solid green;

}
.hosting2{
    border:2px solid green;

}
.hosting3{
    border:2px solid green;

}
.hosting4{
    border:2px solid green;

}
.hosting5{
    border:2px solid green;

}
.hosting6{
    border:2px solid green;

}
.hosting7{
    border:2px solid green;

}
.hosting8{
    border:2px solid green;

}