.container{
    border:5px solid rgb(243, 8, 8);
}
.main{
    background-image: url(./assests/Photos/mainBackground.png);
    background-size: auto;
    width:100%;
    margin-bottom: 2%;
    padding-bottom: 20%;
   
}
nav{
    display: flex;
    justify-content: space-evenly;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    margin:10px;
}
.hero{
    border: 2px solid blue;
}

.hero h1{
    border: 2px solid brown;
    
    padding-left: 18%;
    font-size: 3.8rem;
}
.hero p{
    border: 2px solid blue;
    padding-left: 18%;
    font-size: medium;

}

.hero button{
    position: relative;
    left: 18%;
    padding: 1%;
    border-radius: 50px;
    width: 130px;
    
}
.hosting1{
    border:4px solid green;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 100%;
    background-color: aliceblue;
    
    border-radius: 20px;


}
.hosting1 ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}
.hosting1 li{
    margin: 2%;
}
.hosting2{
    border:2px solid green;
    background-color: aqua;
}
.estate_grid{
    border: 2px solid purple;
    display: grid;
    grid-template-columns: 290px 290px 290px ;
    column-gap: 0px;
    padding: 2%;
    align-items: center;
    justify-content: center;
    
}
.estate_grid>div{
    border: 1px solid red;
    background-color: antiquewhite;
    width: 50%;
    
}
.estate_grid>div>img{
    width: 200px;
}

.hosting2 h1{
    border: 2px solid yellow;
    text-align: center;
    padding-top: 3%;
    font-size: 2.4rem;
}
.hosting3{
    border:2px solid green;

}
.white-border{
    display: none;
}
.modern_trend{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 5%; */
    gap: 20px;

}
.modern_trend img{
    width: 190px;
    border-radius: 20px;
    /* float: right; */
}
/* .second-img-mt{
    float: left;
} */
.hosting4{
    border:2px solid green;
    width: 70%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15%;
    text-align: center;
    

}
.hosting5{
    border:2px solid green;

}
.hosting6{
    border:2px solid green;

}
.hosting7{
    border:2px solid green;

}
.hosting8{
    border:2px solid green;

}

footer{
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}
.footer_logo>img{
    width: 130px;
}
.footer_logo ul{
   display: flex;
   list-style: none;
}
.footer_logo>ul>li>img{
    width: 40px;
    position: relative;
    left: -40px;
}
.footer_list{
    display:flex ;
}
.footer_list ul{
   
    list-style: none;
}

