*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: black;
}
nav img{
    margin: 10px 40px 10px 40px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    margin: 10px;
    color: white;
}

nav button{
    padding: 10px;
    height: fit-content;
    width: 6%;
    margin: 10px 40px 10px 40px;
    border-radius: 40px;
    color: white;
    background-color: rgb(21, 96, 244);
    border: none;
}
.container{
    border:5px solid rgb(243, 8, 8);
}

.hosting1{
    border:2px solid green;

}
.hosting2{
    border:2px solid green;
    
}
.hosting2 ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.hosting3{
    border:2px solid green;

}
.services{
    text-align: center;
}
.service_box_main{
    display: flex;
    justify-content: center;
}
.service_box{
    border: 2px solid black;
    
}
.hosting4{
    border:2px solid green;

}
.hosting4_heading{
    text-align: center;
  }
.button_col1{
    border: 2px solid black;
}
.button_col2{
    border:2px solid black;
}

.feature_column{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.hosting5{
    border:2px solid green;
    text-align: center;

}

.three_column{
    display: flex;
    justify-content: center;
}
.first_columnfirst{
    box-sizing: border-box;
    border: 2px solid black;
}

.first_columnfirst ul{
    list-style: none;
}
.hosting6{
    border:2px solid green;
    display: flex;
    justify-content: center;

}
.hosting7{
    border:2px solid green;
    
    text-align: center;
}
.info{
    border: 2px solid black;
    width: 70%;
    padding: 2%;
    
}
.hosting8{
    border:2px solid green;

}
.footer{
    display: flex;
    justify-content: center;
    gap: 5%;
    
}
.footer ul{
    list-style: none;
}
section{
    display: flex;
    justify-content: center;
}