*{
    padding: 0%;
    margin: 0%;
    overflow-y: hidden;
}
body{
    background-color: rgb(242, 236, 227);
}
nav ul{
    list-style: none;
    display: flex;
    margin-left: 8%;
}

.navbarli{
    margin-top: 0.8%;
    font-weight: 400;
}


li{
    margin-right: 5%;
}

.main{
    display: flex;
    
}

#text{
    margin-top: 10%;
    margin-left: 9%;
    width: 80%;
    font-size:xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#text h5{
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#text button{
    padding: 2.5%;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: aliceblue;
}
.photos{
   
    margin-left: 0%;   
}

.one{
    width: 30%;
    margin-top: 7%;
}
.two{
    height: 40%;
    margin-top: 7%;
}
.third{
    margin-top: 7%;
    width: 75%;
    height: 30%;
}